body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

::selection {
  background: rgba(6, 182, 212, 0.3);
  color: #fff;
}
